<h1>Create new message</h1>
<form method="POST" action="/new">
  <label>
    Author Name
    <input name="author"/>
  </label>
  <br>
  <label>
    Message
    <input name="message"/>
  </label>
  <br>
  <button>Submit</button>
</form>